.header-logo{
  margin:10px;
  margin-left: 2em;
}

.header-wrapper{
  display: flex;
  align-items: center;
}

.header-title{
  vertical-align: middle;
  font-size: x-large;
  margin-left: 1em;
}